.button {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button--form {
  color: @white;
  width: 276px;
  padding: 16px 15px;
  text-transform: uppercase;
  align-items: center;
  background-color: @light-green;
  border: 2px solid @light-green;
  border-radius: 1px;
}
