.gallery__photo-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
  }
}
