.main-nav--closed .main-nav__toggle:active::before {
  background-color: @red;
  box-shadow:
    0 8px 0 0 @red,
    0 16px 0 0 @red;
}

.main-nav__item {
  @media (min-width: @desktop-width) {
    margin-right: 75px;

    &:last-child {
      margin-right: 0;
    }
  }
}
