/*
.page-header__logo {
  display: block;
  height: 69px;
  max-width: 74px;

  @media (min-width: @tablet-width) {
    height: 109px;
    max-width: 145px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    max-width: 155px;
    margin-right: 165px;
    background-color: transparent;
  }
}

.page-header__logo img {
  display: block;
  padding-top: 22px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
  }
}

.page-header__nav-wrapper {
  background-color: @black-fade;
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-position: 100%;
  }
}
*/
