.slider__toggles {
  margin-top: 26px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider__toggle {
  box-sizing: content-box;
  margin-left: 4px;
  margin-right: 9px;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  background-color: fade(@main-font-and-bg, 30%);
  cursor: pointer;
}

.slider__toggle--current {
  background-color: @white;
  border: 3px solid @main-font-and-bg;
}
