//Viewports
@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;

@mobile-width-only: 659px;
@mobile-and-tablet-width-only: 959px;

//Colors

@bg-color-header: #1D2631;
@main-font-and-bg: #283645;
@bg-color-main: #F2F2F2;

@white: #ffffff;
@black: #000000;
@red: #D22856;
@light-grey: #E5E5E5;
@light-green: #2AAB6D;
